.navbar {
  position: fixed;
  top: 0;
  z-index: 99;
  height: var(--nav-ht);
  width: 100%;
  background-color: var(--white-col);
  box-shadow: 0px 5px 8px var(--shadow-col);
  .content {
    height: 100%;
    align-items: center;
    justify-content: space-between;
    .left{
      cursor: pointer;
      user-select: none;
    }

    .right {
      font-family: var(--p-font);
      i{
        cursor: pointer;
      }
      gap: 10px;

    }
  }
}



.react-confirm-alert-body{
  padding: 25px !important;
  width: auto !important;
  h1{

    font-size: var(--h6-font-size);
  }
  button{
    font-size: var(--small-font-size) !important;

  }
}
.react-confirm-alert-overlay{
  background:rgba(0, 0, 0, 0.305) !important;
  animation: react-confirm-alert-fadeIn 0.05s 0.05s forwards !important;
}