@import url('https://fonts.googleapis.com/css2?family=Acme&family=Carter+One&family=Domine:wght@500&family=Merriweather&family=Playfair+Display:wght@500&family=Roboto+Slab:wght@500&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#333333;
}


/* --------------------navbar--------------------------- */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

nav #title{
    font-size: 50px;
    font-family:'Merriweather', serif;
    color: orange;

}











#all-content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#app-bar{
    position: absolute;
    top: 15%;
    background-color: #444444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 10px;
    /* margin: 8px 0px; */
    width:800px;
    box-shadow: 1px 1px 15px 0px rgb(0, 0, 0);
}


#input-cols{
    display: flex;
    justify-content: space-around ;
    
}
.each-input-col{
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    font-size: 20px;
    color: rgb(229, 229, 229);
}

input{
    
    padding: 0px 15px;
    /* text-transform: capitalize; */
    
    width: 100%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    margin: 8px 0px;
    border: 1px solid rgb(255, 176, 5);
    height: 35px;
}

.btn.btn-success{
    border-radius: 20px;
    height: fit-content;
    font-size: 17px;
    font-weight: 600;
    margin: 5px 5px;
    text-transform: capitalize;
    background-color: white;
    border: 1px solid rgb(0, 255, 72);
}

.btn.btn-delete{
    font-weight: 600;
    margin: 5px 5px;
    border-radius: 20px;
    height: fit-content;
    font-size: 17px;
    background-color: white;
    border: 1px solid red;
    
    text-transform: capitalize;
}

.btn.btn-addTask{
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    border-radius: 20px;
    margin: 0px 10px 0px 50px;
    height:fit-content;
    text-transform: capitalize;
}















/* Tasks------------------------------ */

#all-tasks-div{
    position: absolute;
    top:33%;
    display: flex;
    flex-direction: column-reverse ;
    flex-wrap:wrap-reverse;
    
    width: 800px;
    margin: 10px 0px;
    
    background-color: #444444;
    box-shadow: 1px 1px 15px 0px rgb(0, 0, 0);
   
    
    
}    


.each-task-div:last-child{
    border: none;
}    

.completed{
    text-decoration: line-through;
    background-color: green;
}




.each-task-div{  
    /* background-color: #444444; */
    border-radius: 10px;
    margin:10px 15px ;
    padding: 15px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: .01px solid rgb(118, 116, 116);
    
}    
#title-desc{
    
    width: fit-content;
    margin-right: 20px;
    
}        


#del-comp{
    display: flex;
    flex-direction: column;
   
}    


#heading-div{
    
    text-transform: capitalize;
  
    font-size: 40px;
    color: rgb(253, 152, 0);
    font-family: 'Roboto Slab', serif;
    
}    



#desc-div{

    font-size: 25px;
    color: rgb(235, 227, 227);
    
    font-family: 'Domine', serif;
    margin: 5px 0px;

}


