@import url("https://fonts.googleapis.com/css2?family=Acme&family=Carter+One&family=Domine:wght@500&family=Merriweather&family=Playfair+Display:wght@500&family=Poppins:wght@400;500&family=Roboto+Slab:wght@500&display=swap");

::-webkit-scrollbar{
  display: none;
}

html {
  scroll-behavior: smooth;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}
* {
  margin: 0;
  padding: 0;
  overflow: auto;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  /* Heights */

  --nav-ht: 4rem;

  /* col */

  --prim-col: hsl(41, 100%, 50%);

  --sec-col: hsl(285, 100%, 50%);
  --danger-col: hsl(8, 100%, 50%);

  --prim-input-col: #f0eefc;

  --black-col: black;
  --white-col: white;
  --body-col: white;

  --nav-col: white;

  --btn-prim-bg: hsl(41, 100%, 50%);
  --btn-prim-bg-hover: hsl(41, 99%, 47%);
  --btn-prim-bg-active: hsl(41, 96%, 55%);

  --light-col: hsl(0, 0%, 67%);
  --lighter-col: hsl(250, 47%, 93%);

  --shadow-col: hsl(0, 0%, 89%);

  /* Fonts */
  --h1-font-size: 2.8rem;
  --h2-font-size: 2.5rem;
  --h4-font-size: 2rem;
  --h6-font-size: 1.5rem;
  --p-font-size: 1.2rem;
  --small-font-size: 1.1rem;
  --smaller-font-size: 0.8rem;

  --btn-font-size: 1.2rem;

  --uil-font-size: 2rem;
  --uil2-font-size: 1.6rem;

  /* Font family */
  --h1-font: "Roboto Slab", serif;
  --h2-font: "Playfair Display", serif;
  --allh-font: "Merriweather", serif;
  --p-font: "Domine", sans-serif;
  --span-font: "Carter One", cursive;

  /* Margins */

  --mb1: 40px;
  --mb2: 30px;
  --mb3: 20px;

  --mt1: 50px;
  --mt2: 30px;
  --mt3: 20px;
  --mt4: 10px;

  /* Measurements */

  --headline-ht: 150px;
  --headline-wd: 45vw;
}

@media (max-width: 480px) {
  :root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.6rem;
    --h4-font-size: 1.8rem;
    --h6-font-size: 1.5rem;
    --p-font-size: 1.2rem;
    --small-font-size: 1rem;
    --smaller-font-size: 0.8rem;

    --btn-font-size: 1.2rem;

    --uil-font-size: 1.5rem;
    --uil2-font-size: 1.5rem;
  }
}

body.dark-theme {
  --prim-col: hsl(0, 0%, 100%);

  --black-col: rgb(255, 255, 255);
  --white-col: rgb(0, 0, 0);

  --body-col: hsl(250, 28%, 12%);

  --nav-col: hsl(250, 28%, 19%);

  --h1-col: rgb(255, 255, 255);
  --h2-col: rgb(245, 245, 245);
  --h4-col: rgb(235, 235, 235);
  --h6-col: rgb(220, 220, 220);
  --p-col: rgb(255, 255, 255);
  --span-col: rgb(182, 182, 182);
  --btn-prim-bg: hsl(250, 69%, 61%);
  --btn-prim-bg-hover: hsl(250, 57%, 53%);
  --btn-prim-bg-active: hsl(250, 100%, 72%);

  --light-col: hsl(250, 47%, 93%);

  --shadow-col: hsl(252, 17%, 34%);
}
body {
  background-color: var(--body-col);
}
h1 {
  font-size: var(--h1-font-size);
  color: var(---h1-col);
  font-family: var(--h1-font);
}

h2 {
  font-size: var(--h2-font-size);
  color: var(---h2-col);

  font-family: var(--h2-font);
}

h4 {
  font-size: var(--h4-font-size);
  color: var(---h4-col);
}
h6 {
  font-size: var(--h6-font-size);
  color: var(---h6-col);
}

p {
  font-size: var(--p-font-size);
  color: var(--p-col);
  font-family: var(--p-font);
}
/* span {
  font-size: var(--smaller-font-size);
  color: var(--span-col);
  font-family: var(--span-font);
} */

/* btns */

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  gap: 10px;
  cursor: pointer;

  padding: 5px 15px 7px 15px;

  border-radius: 4px;
  font-family: var(--h1-font);
  font-size: var(--btn-font-size);
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  opacity: 0.9;
}
.btn-create {
  opacity: 1;
  background-color: var(--btn-prim-bg);
  color: rgb(0, 0, 0);
}
.btn-create:hover {
  background-color: var(--btn-prim-bg-hover);
}
.btn-create:active {
  background-color: var(--btn-prim-bg-active);
}

/* uils */

.uil,
.fa {
  font-size: var(--uil-font-size);
}
.uil2,
.fa2 {
  font-size: var(--uil2-font-size);
}

/* elements */
.flex {
  display: flex;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 1200px;
  height: 100%;
  margin: 0px auto;
  padding: 0px 10px;
}

Link,
a {
  text-decoration: none;
  color: var(--black-col);
}
